#menu {
  text-align: center;

  li {
    display: inline-block;

    a {
      color: white;
      border-bottom: 1px dotted white;
    }
  }
}

#menu-top {
  @extend #menu;

  li {
    padding: 15px 40px;
  }
}

#menu-bottom {
  @extend #menu;
  margin-right: -50px;

  li {
    padding-top: 15px;

    &+li {
      margin-left: 30px;
    }
  }
}