@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700)
@import variables
@import typography
@import menu
@import forms
@import slick-theme


html 
    -webkit-text-size-adjust: none

//bootstrap
.nav-pills .nav-item+.nav-item, .nav-tabs .nav-item+.nav-item 
    margin-left: 0

a:focus, button:focus
    color: inherit
    text-decoration: inherit
    border: none
    outline: 0

.mt20 
    margin-top: 20px

.mt10
    margin-top: 10px

header
    background-color: #000

section
    padding-top: 42px

.form-section
    background: url("/img/pattern.png"), linear-gradient(to bottom, #aa3700, #bc4800)
    padding: 23px 0 0px

    &.second
        background: url("/img/pattern.png"), linear-gradient(to bottom, #c0bcb2, #dcdad5)
        
        .require-desc
            color: #423e38

        .success
            color: black

    &.third
        background: none
        margin-bottom: 20px

        h2
            color: $orange
            font-size: 21px
            text-align: left
            margin-bottom: 0

        .require-desc 
            color: #423e38
            margin-top: 0

        .success
            color: black

    h2
        color: white
        margin-top: 7px
        margin-bottom: 0

    .require-desc
        color: white

    .form-control 
        margin-top: 8px

    .success
        padding-top: 5px
        padding-left: 50px
        color: white

#first-screen 
    background: linear-gradient(to top, #a88966, #321f16)
    padding-top: 25px

    h3
        color: $light-brown
        font-size: 36px
        font-weight: 600
        margin-top: 10px

    h2
        color: white
        padding-bottom: 30px
        margin: 0

    .button-big
        margin-top: 15px
        margin-bottom: 80px

    .contacts
        margin-top: 10px

        .phone
            font-size: 24px
            color: white
            letter-spacing: 1px

            &:hover
                text-decoration: none

        .social
            ul
                list-style: none
                margin: 0
                margin-top: 15px
                padding: 0

                li
                    display: inline-block

        .call-back
            color: $light-brown
            font-size: 14px
            font-weight: 300
            font-style: italic
            border-bottom: 1px dotted $light-brown

            &:hover
                text-decoration: none

    .success
        color: white
        height: 301px

    .tv
        margin-top: 25px
        
        &-img
            position: absolute
            z-index: 5

        &-desc
            position: absolute
            z-index: 10
            top: 250px
            left: 160px
            font-weight: 600
            font-size: 24px
            color: $dark-brown

            &:hover
                color: $dark-brown

        &-play
            position: absolute
            z-index: 15
            top: 105px
            left: 200px


        input 
            border-radius: 0
            display: block
            padding: 13px

            &+input 
                margin-top: 20px

        .require-desc 
            color: white

#results 
    margin-top: 125px
    margin-bottom: 35px
    text-align: center

    h2 
        font-size: 45px
        color: $dark-brown
        margin-bottom: 0

    .result-item 
        .number 
            color: $orange
            font-weight: 600
            font-size: 76px
            margin-bottom: 0
            padding-bottom: 0

        .orange 
            color: $orange
            margin-top: -25px
            margin-bottom: 0px
            font-size: 34px

        span 
            display: block
            margin-top: 10px

#calculator 
    background: url("/img/pattern.png"), linear-gradient(to bottom, $orange, #e56b1f)
    color: white
    padding-top: 30px
    padding-bottom: 24px

    h2 
        color: white
        letter-spacing: 1px

    .bdr 
        border-right: 1px solid $light-yellow

    .strength-desc
        margin-top: 35px

        color: $light-yellow
        font-size: 18px
        font-weight: bold

    .strength-val 
        margin: 0
        font-size: 16px

    .range-wrap
        margin-bottom: 35px
        margin-left: -5px
        width: 92%


        .irs-single
            display: none

        .irs-slider.single
            cursor: pointer

    .profit-desc 
        margin: 0
        margin-top: 35px
        line-height: 1.2
        font-weight: bold
        font-size: 18px

    #profit-val 
        font-size: 55px
        font-weight: 600

    .payment 
        &-desc
            color: $light-yellow
            font-weight: bold
            font-size: 19px
            margin-bottom: 0

        &-currency 
            font-size: 24px
            font-weight: 300
            display: inline-block
            margin-left: 7px

    #payment-val 
        font-size: 55px
        font-weight: 600
        margin-top: -10px
        display: inline-block

#cooperation 
    background: 
        color: #201811
        image: url(/img/print.png)
        repeat: no-repeat
        position: calc(70% + 300px) 100%
    padding-top: 30px
    padding-bottom: 80px

    h2, h3
        color: $beige

    h2
        font-size: 48px
        margin-bottom: 50px

    h3 
        font-size: 34px
        font-weight: bold
        margin: 35px 0 40px

    h4 
        color: $beige
        font-size: 24px
        font-weight: 300
        margin-bottom: 35px
        margin-left: -30px

    .adv-item 
        margin-bottom: 20px

    span.icon 
        &::before 
            content: ""
            display: block
            background: url(/img/icon_sprite.png) no-repeat
            width: 73px
            height: 73px
            border-radius: 50%

        &.scenario::before
            background-position: -15px -145px
        &.video::before 
            background-position: -155px -137px
        &.audio::before 
            background-position: -298px -130px
        &.docs::before 
            background-position: -440px -135px
        &.box::before 
            background-position: -584px -140px
        &.video-crime::before
            background-position: -731px -134px
        &.audio-crime::before 
            background-position: -865px -140px
        &.support::before 
            background-position: -1024px -140px

    .adv-desc 
        color: white
        font-size: 14px
        margin-left: -30px

        &-support 
            @extend .adv-desc
            @extend .mt10

#team 
    padding-top: 30px
    padding-bottom: 40px
    background:  url("/img/pattern.png") #eae8e1

    h2 
        font-size: 48px
        font-weight: bold
        color: $dark-brown
        margin-bottom: 40px

    h3 
        margin-top: 20px
        margin-bottom: 60px
        font-weight: bold
        font-size: 34px

    .team-item 

        &-desc
            margin-top: 30px

        &-avatar 
            background-color: grey
            width: 140px
            height: 140px
            border-radius: 50%
            margin-bottom: 7px

        &-post 
            text-align: left
            font-size: 12px
            font-style: italic

    .stages 
        margin: 0
        padding: 0

        li 
            list-style: none
            display: inline-block
            vertical-align: top
    
            & + li 
                margin-left: 20px

        &-desc 
            font-size: 14px
            text-align: center
            height: 42px
            margin-top: 8px

        &-icon
            &:before
                content: ''
                width: 106px
                height: 72px
                display: inline-block
                background-image: url(/img/icon_sprite.png)

            &.invite:before
                background-position: 0 0
            &.meet:before
                background-position: -140px 0
            &.contract:before
                background-position: -280px 0
            &.payment:before
                background-position: -420px 0
            &.execution:before
                background-position: -570px 0
            &.education:before
                background-position: -710px 0
            &.support:before
                background-position: -850px 0

#proofs 
    padding-top: 30px
    padding-bottom: 50px
    background: 
        color: #020202
        image: url(/img/proof-img.jpg)
        repeat: no-repeat
        position: 100% 25%

    h2 
        font-size: 46px
        color: #D4C8B8
        margin-bottom: 40px

    h4 
        color: $beige
        text-align: center
        margin-top: 39px
        margin-bottom: 22px

    .question-wrap 
        margin-left: -30px
        margin-bottom: 20px
        color: white
        margin-bottom: 25px

        ul 
            list-style-type: circle
            margin-bottom: 0

            li
                font-size: 16px

    .partners-wrap 
        text-align: center

    .partner-item
        margin-top: 30px
        text-align: center

        .speech-bubble
            display: inline-block
            width: 108px
            height: 108px
            background: url(/img/sprite_photo_partnery.png)

            &.second
                background-position: -105px 0px
            &.third
                background-position: -214px 0px
            &.fourth
                background-position: -323px 0px
            &.fifth
                background-position: -428px 0px

        .name 
            margin-top: 10px
            font-size: 16px
            color: $beige

            i
                font-size: 12px

        em 
            display: block
            color: white
            font-size: 12px
            line-height: 1.3
            margin-bottom: 15px
            text-align: left
            height: 170px

    .button-big
        margin-top: 45px
        display: inline-block

h2.city 
    margin-top: 35px
    margin-bottom: 25px
    color: $dark-brown
    font-size: 48px

    text-transform: uppercase


#gallery 
    text-align: center
    padding-top: 0

    .tab-wrap 
        width: 275px
        margin: 0 auto

        .nav-tabs 
            text-align: center
            border: none
            margin-bottom: 30px

            .nav-item 

                .nav-link 
                    border: none
                    color: $dark-brown
                    font-size: 24px
                    padding: 5px 35px
                    margin: 0
                    background: linear-gradient(to bottom, #e6dccf, #f5f1ec)

                    span 
                        display: inline-block
                        line-height: 1
                        border-bottom: 1px dotted $dark-brown

                    &.left 
                        border-radius: 23px 0 0 23px
                    &.right 
                        border-radius: 0 23px 23px 0

                    &.active 
                        background: linear-gradient(to bottom, #cebaa0, #ebe2d5)
                        box-shadow: inset 0px 5px 5px rgba(0,0,0,0.25)

                        span 
                            border: none

    .tab-content-wrap 

        img 
            padding: 0
            margin: 0
            height: 320px

    #video 
        height: 100%

footer 
    background: black
    padding-top: 20px
    padding-bottom: 20px

    .logo 
        width: 100%

    .contacts 
        margin-left: 50px

        .phone 
            font-size: 24px
            color: white
            letter-spacing: 1px
        
        .call-back 
            color: $light-brown
            font-size: 14px
            font-weight: 300
            font-style: italic
            border-bottom: 1px dotted $light-brown

            &:hover 
                text-decoration: none

    .social
        ul
            list-style: none
            margin: 0
            margin-top: 15px
            padding: 0

            li
                display: inline-block

    .main-print
        margin-top: 35px

.success 
    font-size: 15px
    display: none

.totop
    display: inline-block
    position: fixed
    padding: 2px
    z-index: 1000
    bottom: 20px
    right: 20px
    border-radius: 10px

    width: 50px
    height: 50px
    
    color: white
    font-weight: bold
    text-align: center
    text-decoration: none
    font-size: 30px
    
    cursor: pointer
    background: $dark-brown

    &:hover, &:focus
        color: white
        text-decoration: none

.slick-next:before, .slick-prev:before
    font-size: 43px
    color: #e62117

.slick-prev
    left: -50px

.slick-next
    right: -30px

@media (min-width: 1200px)
    .partner-item.col-xl-2
        float: left
        width: 20%
        padding-left: 0px
        padding-right: 3px
        
        &+.col-xl-2
            padding-left: 10px

@media(max-width: 1199px)
    #proofs .partner-item em
        height: 100px

@media(max-width: 991px)
    #proofs .partner-item em
        height: 140px


@media(max-width: 575px)
    .modal-dialog
        margin-top: 100px

    #first-screen
        .logo
            margin-bottom: 0px
        .contacts
            margin: 0
        .tv
            width: 100%

            &-wrap
                min-height: 360px

            &-img
                width: 100%
                position: relative

            &-play
                top: 60px
                left: 150px

            &-desc
                top: 210px
                left: 140px
                font-size: 18px

        .button-big
            margin-bottom: 50px

        .tv-form
            text-align: center

            .require-desc
                text-align: left

    #results
        margin-top: 0px

    #calculator
        .strength-val
            font-size: 12px

        .range-wrap
            width: 100%
            margin-left: 0

    .form-section
    
        .success
            margin-top: 20px
            margin-bottom: 35px
            text-align: center
            padding: 0


        .button-big
            margin: 20px 0

    #cooperation
        h2
            font-size: 32px
        h4
            margin-left: 0

        .adv-desc
            margin-left: 0

    #proofs
        background-image: none
        
        h2
            font-size: 30px

        .partner-item
            margin-bottom: 50px

            em
                height: 80px

    h2.city
        font-size: 42px

    #gallery
        .container
            margin: 0
            padding: 0

        .tab-content img
            height: 100%

        #video
            height: 100%

    footer
        margin: 0

        .contacts
            margin: 0
            text-align: center

@media(max-width: 340px)
    #first-screen
        .logo
            width: 220px
            margin-bottom: 20px
        .tv
            &-wrap
                min-height: 100%
                margin-bottom: 10px

            &-play
                width: 40px
                height: 40px

                top: 34px
                left: 105px

            &-desc
                top: 90px
                left: 70px
                font-size: 12px
                color: white

    #calculator
        .marker-left
            margin-left: 4px
        .marker-right
            margin-right: 3px


    #cooperation
        h2
            font-size: 28px

    #proofs 
        background-image: none
        .partner-item em
            height: 90px

    footer
        margin: 0

        .contacts
            margin: 0
            padding: 0
            text-align: center