@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700)
@import variables
@import typography
@import menu
@import forms


//bootstrap
.nav-pills .nav-item+.nav-item, .nav-tabs .nav-item+.nav-item 
    margin-left: 0

.mt20 
    margin-top: 20px

.mt10
    margin-top: 10px

header
    background-color: #000

section
    padding-top: 42px

.form-section
    background: linear-gradient(to bottom, #aa3700, #bc4800)
    padding: 20px 0 5px

    &.second
        background: linear-gradient(to bottom, #c0bcb2, #dcdad5)
        
        .require-desc
            color: #423e38

    &.third
        background: none
        margin-bottom: 20px

        h2
            color: $orange
            font-size: 21px
            text-align: left
            margin-bottom: 0

        .require-desc 
            color: #423e38
            margin-top: 0

    h2
        color: white

    .require-desc
        color: white

    .form-control 
        margin-top: 8px

#first-screen 
    background: linear-gradient(to top, #a88966, #321f16)
    padding-top: 25px

    h3
        color: $light-brown
        font-size: 36px
        font-weight: 600
        margin-top: 10px

    h2
        color: white
        padding-bottom: 30px
        margin: 0

    .button-big
        margin-top: 15px
        margin-bottom: 80px

    .contacts
        margin-left: 50px
        margin-top: 10px

        .phone
            font-size: 24px
            color: white
            letter-spacing: 1px

        .call-back
            color: $light-brown
            font-size: 14px
            font-weight: 300
            font-style: italic
            border-bottom: 1px dotted $light-brown

            &:hover
                text-decoration: none

        .social
            ul
                list-style: none
                margin: 0
                margin-top: 15px
                padding: 0

                li
                    display: inline-block

    .tv-wrap
        margin-top: 25px

        .tv-img
            position: absolute
            z-index: 50

        .tv-desc
            position: absolute
            z-index: 10
            top: 250px
            left: 160px
            font-weight: 600
            font-size: 24px

        .play-img
            position: absolute
            z-index: 5
            top: 105px
            left: 200px

        input 
            border-radius: 0
            display: block
            padding: 13px

            &+input 
                margin-top: 20px

        .require-desc 
            color: white

#results 
    margin-top: 165px
    margin-bottom: 25px
    text-align: center

    h2 
        font-size: 45px
        color: $dark-brown

    .result-item 
        .number 
            color: $orange
            font-weight: 600
            font-size: 76px
            margin-bottom: 0
            padding-bottom: 0

        .orange 
            color: $orange
            margin-top: -25px
            margin-bottom: 0px
            font-size: 34px

        span 
            display: block
            margin-top: 10px

#calculator 
    background: linear-gradient(to bottom, $orange, #e56b1f)
    color: white
    padding-top: 35px
    padding-bottom: 20px

    h2 
        color: white
        letter-spacing: 1px

    .bdr 
        border-right: 1px solid $light-yellow
        margin-right: 20px

    .strength-desc
        margin-top: 35px

        color: $light-yellow
        font-size: 18px
        font-weight: bold

    .strength-val 
        margin: 0
        font-size: 16px

    #strength-input 
        margin-bottom: 35px
        -webkit-appearance: none
        border-radius: 0
        width: 91%
        height: 7px
        border: 1px solid #bdc3c7
        background-color: #fff

        &::-webkit-slider-thumb
            -webkit-appearance: none
            border-radius: 0
            background-color: rgba(0,0,0,0)
            width: 0
            height: 0
            border-left: 10px solid transparent
            border-right: 10px solid transparent
            border-bottom: 20px solid black
            cursor: pointer

            &::before
                content: ''
                width: 10px
                height: 10px
                background:red
                position: relative
                top: 10px
                left: 10px

    .profit-desc 
        margin: 0
        margin-top: 35px
        line-height: 1.2
        font-weight: bold
        font-size: 18px

    #profit-val 
        font-size: 55px
        font-weight: 600

    .payment 
        &-desc
            color: $light-yellow
            font-weight: bold
            font-size: 19px
            margin-bottom: 0

        &-currency 
            font-size: 24px
            font-weight: 300

    #payment-val 
        font-size: 55px
        font-weight: 600
        margin-top: 0

#cooperation 
    background: 
        color: #201811
        image: url(img/print.png)
        repeat: no-repeat
        position: calc(70% + 300px) 100%
    padding-top: 24px
    padding-bottom: 80px

    h2, h3
        color: $beige

    h2
        font-size: 48px
        margin-bottom: 50px

    h3 
        font-size: 34px
        font-weight: bold
        margin: 35px 0 40px

    h4 
        color: $beige
        font-size: 24px
        font-weight: 300
        margin-bottom: 35px
        margin-left: -30px

    .adv-item 
        margin-bottom: 20px

    span.icon 
        &:before 
            content: ""
            display: block
            background: url(img/icons.jpg) no-repeat
            width: 73px
            height: 73px
            border-radius: 50%

        &.video:before 
            background-position: 0 -75px
        &.audio:before 
            background-position: 0 -160px
        &.docs:before 
            background-position: 0 -237px
        &.box:before 
            background-position: 0 -310px
        &.video-crime:before
            background-position: 0 -370px
        &.audio-crime:before 
            background-position: 0 -462px
        &.support:before 
            background-position: 0 -537px

    .adv-desc 
        color: white
        font-size: 14px
        margin-left: -30px

        &-support 
            @extend .adv-desc
            @extend .mt10

#team 
    padding-top: 30px
    padding-bottom: 40px

    h2 
        font-size: 48px
        font-weight: bold
        color: $dark-brown
        margin-bottom: 40px

    h3 
        margin-top: 55px
        margin-bottom: 60px
        font-weight: bold
        font-size: 34px

    .team-item 
        text-align: center

    .avatar 
        background-color: grey
        width: 140px
        height: 140px
        border-radius: 50%

        &-desc 
            text-align: center

    .stages 
        margin: 0
        padding: 0

        img 
            display: block

        li 
            list-style: none
            display: inline-block
            vertical-align: top
    
            & + li 
                margin-left: 20px

        &-desc 
            font-size: 14px
            text-align: center
            height: 42px
            margin-top: 15px

#proofs 
    padding-top: 30px
    padding-bottom: 50px
    background: 
        color: #020202
        image: url(img/proof-img.jpg)
        repeat: no-repeat
        position: 100% 25%

    h2 
        font-size: 46px
        color: #D4C8B8
        margin-bottom: 40px

    h4 
        color: $beige
        text-align: center
        margin-top: 39px
        margin-bottom: 22px

    .question-wrap 
        margin-left: -30px
        margin-bottom: 20px
        color: white

        ul 
            margin-bottom: 25px
            list-style-type: circle

            li
                font-size: 16px

    .partners-wrap 
        margin-top: 30px
        text-align: center

        .name 
            margin-top: 10px
            font-size: 16px
            color: $beige

        em 
            display: block
            color: white
            font-size: 12px
            line-height: 1.3
            margin-bottom: 15px

        .button-big
            margin-top: 10px

h2.city 
    margin-top: 35px
    margin-bottom: 25px
    color: $dark-brown
    font-size: 48px

    text-transform: uppercase


#gallery 
    text-align: center

    .tab-wrap 
        width: 275px
        margin: 0 auto

        .nav-tabs 
            text-align: center
            border: none
            margin-bottom: 30px

            .nav-item 

                .nav-link 
                    border: none
                    color: $dark-brown
                    font-size: 24px
                    padding: 5px 35px
                    margin: 0
                    background: linear-gradient(to bottom, #e6dccf, #f5f1ec)

                    span 
                        display: inline-block
                        line-height: 1
                        border-bottom: 1px dotted $dark-brown

                    &.left 
                        border-radius: 23px 0 0 23px
                    &.right 
                        border-radius: 0 23px 23px 0

                    &.active 
                        background: linear-gradient(to bottom, #cebaa0, #ebe2d5)
                        box-shadow: inset 0px 5px 5px rgba(0,0,0,0.25)

                        span 
                            border: none

    .tab-content-wrap 
        height: 325px

        img 
            padding: 0
            margin: 0
            display: inline-block

footer 
    background: black
    padding-top: 20px
    padding-bottom: 20px

    .logo 
        width: 100%

    .contacts 
        margin-left: 50px

        .phone 
            font-size: 24px
            color: white
            letter-spacing: 1px
        
        .call-back 
            color: $light-brown
            font-size: 14px
            font-weight: 300
            font-style: italic
            border-bottom: 1px dotted $light-brown

            &:hover 
                text-decoration: none

    .social
        ul
            list-style: none
            margin: 0
            margin-top: 15px
            padding: 0

            li
                display: inline-block
